@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import "tailwindcss";

:root {
  --primary : #e9d5ca;
  --secondary-100: #38292a;
  --secondary-200: #2d1607;
  --background: #f8f1ee;
  --muted:#4f4849;
}

body{
  background-color: var(--background);
  color: var(--secondary-200);
  /* font-family: */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Mate", serif;
}

@theme inline{
  --font-squada: "Squada One", sans-serif;
  --font-baskerville: "Libre Baskerville", serif;
  --font-mate: "Mate", serif;
  --color-primary: var(--primary);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: #592c0d;
  --color-background: var(--background);
  --color-muted: var(--muted);
  --breakpoint-xs:360px;
  --breakpoint-xxs:300px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}